<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Automation.qa.verifyTitleandText"/>
      <class name="Automation.qa.login"/>
      <class name="Automation.qa.GroupTestCase"/>
      <class name="Automation.qa.Demo"/>
      <class name="Automation.qa.softAssert"/>
      <class name="Automation.qa.asseration"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
